.loginpageContainer {
  background-image: url("https://media.istockphoto.com/photos/project-management-with-icons-about-planning-tasks-and-milestones-on-picture-id1135541613?k=20&m=1135541613&s=612x612&w=0&h=rHctItxe3Vi5AGnLfm-Qa_PARqNXaxhlc3TbFYFe3nI=");
  width: 100%;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login {
  background-color: white;
  margin-left: 200px;
}
@media (min-width: 1024px) {
  .login {
    width: 300px;
    margin-top: 180px;
    margin-left: 500px;
  }
}

@media (min-width: 768px) {
  .login {
    width: 300px;
    margin-top: 180px;
    /* margin-left:500px; */
  }
}
@media (max-width: 575.98px) {
  .login {
    width: 300px;
    margin-top: 150px;
    margin-left: 60px;
  }
}
